@charset "UTF-8";
.container-fluid__body #columnaInformativa {
  margin-top: 10px; }

.container-fluid__body #padding {
  margin-right: 0px;
  margin-left: 0px; }

.container-fluid__body #centrarInfo {
  text-align: center;
  background-image: linear-gradient(#18ff20, #006303);
  height: 100px;
  width: 1px;
  border: outset 10px green;
  color: white; }

.container-fluid__body #centrarInfo2 {
  text-align: center;
  background-image: linear-gradient(#be05fc, #3d103b);
  height: 100px;
  width: 1px;
  border: outset 10px violet;
  color: white; }

.container-fluid__body #centrarInfo3 {
  text-align: center;
  background-image: linear-gradient(#0009ff, #05075a);
  height: 100px;
  width: 1px;
  border: outset 10px blue;
  color: white; }

.container-fluid__body #border {
  border: outset 2px #2ed518;
  margin-top: 50px;
  padding: 25px;
  margin-left: 250px; }

#divAjustado2 {
  height: auto;
  width: 960px;
  margin: 0px;
  padding: 0px; }

#footer--cambios {
  background-color: chartreuse;
  width: 960px;
  height: 50px;
  padding-top: 12px; }

#espacioBread2 {
  margin-left: 50px; }

#colorBody {
  background-color: #1e272e; }

.animacion {
  animation-duration: 5s;
  animation-name: cargaPagina; }

@keyframes cargaPagina {
  0% {
    opacity: 0;
    animation: animate__backInLeft; }
  100% {
    animation: animate__backInLeft;
    opacity: 1; } }

#border {
  border: outset 2px #18ff20;
  margin-top: 50px;
  padding: 25px;
  margin-left: 250px; }

span {
  color: #18ff20; }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  #tableNotice {
    margin-left: -6px;
    width: 1164px; }
  #FormColor {
    background-color: #262626;
    color: white; }
  #fondoNoticia {
    background-color: #262626; }
  #centrarCarousel {
    margin-right: auto; }
  .PColor {
    color: white; }
  .carousel.indicators {
    margin-right: 16%;
    margin-left: 22%; }
  #acomodarIndicators {
    margin-right: 7%; }
  .list-style-none {
    list-style: none;
    height: 50px;
    width: 80px;
    padding-left: 2px;
    padding-right: 7px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 30px;
    font-family: "Raleway", sans-serif; }
  .list-style-none1 {
    list-style: none;
    height: 50px;
    width: 143px;
    padding-left: 9px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 30px;
    font-family: "Raleway", sans-serif; }
  .list-style-none2 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 1px;
    font-family: "Raleway", sans-serif; }
  .list-style-none3 {
    list-style: none;
    height: 40px;
    width: 80px;
    padding-left: 36px;
    padding-right: 12px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -5px;
    font-family: "Raleway", sans-serif; }
  .list-style-none4 {
    list-style: none;
    height: 40px;
    width: 120px;
    padding-left: 45px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -3px;
    font-family: "Raleway", sans-serif; }
  .list-style-none5 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 64px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -3px;
    font-family: "Raleway", sans-serif; }
  .list-style-none6 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 85px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -3px;
    font-family: "Raleway", sans-serif; }
  .list-style-none8 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 86px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 25px;
    font-family: "Raleway", sans-serif; }
  #carouselFondo {
    background-color: black;
    opacity: 70%;
    width: 680px;
    height: 100px;
    margin-left: 121px; }
  #centrarImagen {
    margin-left: 150px;
    width: 74%;
    height: 43%; }
  #columnaInformativa {
    margin-top: 10px;
    width: 1177px;
    padding: 14px; }
  #footerFondo {
    width: 1182px;
    height: 450px;
    background-color: white;
    padding: 30px; }
  #cuadroNoticias3 {
    display: block;
    height: 370px;
    width: 291px;
    padding: 5px; }
  .colorH1 {
    color: white;
    font-size: 25px;
    color: #0b6ef0; }
  #flexLogo {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 1196px;
    margin-left: -14px; }
  #logo {
    margin-left: 18px; }
  #paddingCol {
    padding: 0px; }
  #cuadroNoticias {
    height: 370px;
    width: 291px;
    padding: 0px;
    margin-left: 0px; }
  #cuadroNoticias1 {
    height: 370px;
    width: 291px;
    padding: 5px; }
  #cuadroNoticias2 {
    display: block;
    height: 370px;
    width: 291px;
    padding: 5px; }
  #tamañoH2 {
    font-size: 15px;
    font-family: "Poppins", sans-serif; }
  #titleH3 {
    font-family: "Open Sans Condensed", sans-serif; }
  #cajaFooterRedes {
    margin-top: 30px; }
  #iconStyle {
    list-style: none;
    width: 42px;
    height: 48px; }
  #iconStyle1 {
    list-style: none;
    width: 42px;
    height: 48px;
    margin-left: 40px; }
  #iconStyle2 {
    list-style: none;
    width: 42px;
    height: 48px;
    margin-left: 40px; }
  #iconStyle3 {
    list-style: none;
    width: 42px;
    height: 48px;
    margin-left: 40px; }
  #cajaFooterBoton {
    margin-top: 30px; }
  .hover a:link,
  .hover a:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; }
  .hover a:hover,
  .hover a:active {
    background-color: blue;
    color: white; }
  #botonFooter {
    list-style: none;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #botonFooter1 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #botonFooter2 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #botonFooter3 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #botonFooter4 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #botonFooter5 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #botonFooter6 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: #3a3a3a; }
  #arregloMarginParrafo {
    margin: 0px; }
  #cajaCentrarParrafo {
    text-align: center; }
  #cajaLegales {
    margin-top: 30px; }
  #cajaLegales2 {
    margin-top: 30px; }
  hr {
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 2px solid #333;
    height: 0; }
  #noticeColor {
    background-color: #636363;
    padding-top: 20px;
    padding-bottom: 20px; }
  #efectLink1 {
    font-family: "Teko", sans-serif; }
  #centrar {
    color: white; }
  #sinBordes {
    padding: 0px; }
  #text-aline-center {
    color: white;
    text-align: center; }
  .titulo--color {
    color: white;
    text-align: center; }
  .PColor {
    padding: 10px;
    font-size: 18px; } }

#centerLink {
  width: 120px;
  height: 21;
  margin-left: 50px;
  margin-top: 15px;
  font-family: "Teko", sans-serif;
  font-size: 15px; }
  #centerLink a:link,
  #centerLink a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block; }
  #centerLink a:hover,
  #centerLink a:active {
    background-color: green;
    color: white; }

.hover a:link,
.hover a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.hover a:hover,
.hover a:active {
  background-color: blue;
  color: white; }

@media only screen and (max-width: 1024px) {
  #footerFondo {
    width: 1007px; }
  #tableNotice {
    width: 998px; }
  #cuadroNoticias {
    transform: scale(0.9);
    margin-left: 67px; }
  #cuadroNoticias1 {
    transform: scale(0.9); }
  #cuadroNoticias2 {
    transform: scale(0.9); }
  #cuadroNoticias3 {
    display: none; }
  #columnaInformativa {
    width: 1007px; }
  #flexLogo {
    width: 1024px;
    padding: 0; }
  .list-style-none {
    font-size: 20px;
    padding: 0; }
  .list-style-none1 {
    font-size: 20px;
    padding: 0; }
  .list-style-none2 {
    font-size: 20px;
    padding: 0; }
  .list-style-none3 {
    font-size: 20px;
    padding: 0; }
  .list-style-none4 {
    font-size: 20px;
    padding: 0; }
  .list-style-none5 {
    font-size: 20px;
    padding: 0; }
  .list-style-none6 {
    font-size: 20px;
    padding: 0; }
  .list-style-none8 {
    font-size: 20px;
    padding: 0; }
  .PColor {
    padding: 10px;
    font-size: 18px; } }

@media only screen and (max-width: 1024px) and (max-width: 768px) {
  #footerFondo {
    width: 768px; }
  #botonFooter {
    font-size: 15px; }
  #botonFooter1 {
    font-size: 15px; }
  #botonFooter2 {
    font-size: 15px; }
  #botonFooter3 {
    font-size: 15px; }
  #botonFooter4 {
    font-size: 15px; }
  #botonFooter5 {
    font-size: 15px; }
  #botonFooter6 {
    font-size: 15px; }
  #cuadroNoticias2 {
    display: none; }
  #cuadroNoticias3 {
    display: none; }
  #cuadroNoticias {
    margin-left: 82px; }
  #tableNotice {
    width: 751px;
    margin-left: 3px; }
  .PColor {
    font-size: 15px;
    padding-left: 13px; }
  .colorH1 {
    padding-left: 13px; }
  #iframeCentro {
    width: 281px;
    height: 200px;
    margin-left: 29px; }
  #columnaInformativa {
    width: 768px; }
  #fondoNoticia {
    padding-left: 0px; }
  #flexLogo {
    width: 768px; }
  .list-style-none {
    font-size: 16px;
    margin-left: 26px;
    padding: 0px; }
  .list-style-none1 {
    font-size: 16px;
    margin-left: -14px;
    padding: 0px; }
  .list-style-none2 {
    font-size: 16px;
    margin-left: -44px;
    padding: 0px; }
  .list-style-none3 {
    font-size: 16px;
    margin-left: -39px;
    padding: 0px; }
  .list-style-none4 {
    font-size: 16px;
    margin-left: -26px;
    padding: 0px; }
  .list-style-none5 {
    display: none; }
  .list-style-none6 {
    font-size: 16px;
    padding: 0px;
    margin-left: -45px; }
  .list-style-none8 {
    font-size: 16px;
    padding: 0px;
    margin-left: -23px; }
  .container-fluid__body {
    transform: scale(1); }
  #carouselFondo {
    width: 500px;
    margin-left: 27px; }
  .carousel-control-next-icon {
    margin: 12px; }
  #centrarImagen {
    margin-left: 100px; } }
