$rojo: red;
$verde: rgb(24, 255, 32);
$verdeOscuro: rgb(0, 99, 3);
$gris: rgb(79, 79, 79);
$black: rgb(0, 0, 0);
$violeta: rgb(190, 5, 252);
$violetaOscuro: rgb(61, 16, 59);
$azul: rgb(0, 9, 255);
$azulOscuro: rgb(5, 7, 90);
