@import "container";
@import "color";

.animacion {
  animation-duration: 3s;
  animation-name: cargaPagina;
}

@keyframes cargaPagina {
  0% {
    opacity: 0;
    animation: animate__backInLeft;
  }
  100% {
    animation: animate__backInLeft;
    opacity: 1;
  }
}

#border {
  border: outset 2px $verde;
  margin-top: 50px;
  padding: 25px;
  margin-left: 250px;
}

span {
  color: $verde;
}

//RESPONSIVE-----------------------------------------------------------------------------------------------------------------------

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  #tableNotice {
    margin-left: -6px;
    width: 1164px;
  }

  #colorBody {
    background-color: rgb(30, 39, 46);
    transform: scale(0.9);
    margin-top: -275px;
  }

  #colorBody2 {
    background-image: url(https://aws-tiqets-cdn.imgix.net/images/content/c17404c154414f96a417fc8cfb78af26.jpg?auto=format&fit=crop&h=800&ixlib=python-3.2.1&q=70&w=800&s=8d4c58c5d1d7ac051d3d2279e05ee13a);
    transform: scale(0.9);
    margin-top: -238px;
    background-position: center;
    background-attachment: fixed;
  }

  #colorBody3 {
    background-image: url(https://i.pinimg.com/originals/6f/88/b0/6f88b07047e7d12ab56adb7ba33353e2.jpg);
    transform: scale(0.9);
    margin-top: -238px;
    background-position: center;
    background-attachment: fixed;
  }

  #colorBody4 {
    background-image: url(file:///D:/desarrollo%20wed/desafio%20n4/carpeta%20raiz/imagenes/Disk-2s-1200px.png);
    background-position: center;

    transform: scale(0.9);
    margin-top: -238px;
  }

  #colorBody5 {
    background-image: url(https://ep01.epimg.net/elviajero/imagenes/2020/12/10/actualidad/1607603926_631076_1607606743_noticia_normal.jpg);
    transform: scale(0.9);
    margin-top: -238px;
  }
  #colorBody6 {
    background-color: #1e272e;
    transform: scale(0.9);
    margin-top: -238px;
  }

  #colorBody7 {
    background-image: url(https://viajes.nationalgeographic.com.es/medio/2018/12/17/age-qpx-150805115_f51547a9_1200x827.jpg);
    background-position: center;
    background-attachment: initial;
    transform: scale(0.9);
    margin-top: -212px;
  }

  #colorBody8 {
    background-image: url(https://turismo.buenosaires.gob.ar/sites/turismo/files/congreso_fachada_1200.jpg);
    background-position: center;
    background-attachment: fixed;
    transform: scale(0.9);
    margin-top: -238px;
  }

  #colorBody9 {
    background-image: url(file:///D:/desarrollo%20wed/desafio%20n4/carpeta%20raiz/imagenes/Trianglify-11.1s-1200px.png);
    background-position: center;
    background-attachment: fixed;
    transform: scale(0.9);
    margin-top: -238px;
  }

  #colorBody10 {
    background-image: url(https://image.freepik.com/foto-gratis/mercado-valores-concepto-dispositivo-portatil-grafico-pantalla-telefono-inteligente-escritorio-concepto-comercio-o-inversion_136875-1835.jpg);
    background-position: center;
    background-attachment: fixed;
    transform: scale(0.9);
    margin-top: -238px;
  }

  #colorBody1 {
    //background-image: url(https://i.pinimg.com/originals/cc/70/5c/cc705c88294ba569d388045d4fba4fd5.jpg);
    background-image: url(file:///D:/desarrollo%20wed/desafio%20n4/carpeta%20raiz/imagenes/Trianglify1.png);
    transform: scale(0.9);
    margin-top: -238px;
    background-position: center;
    background-attachment: fixed;
  }

  #flexLogo1 {
    background-color: rgba(0, 0, 0, 0.522);
    margin: 0px;
    padding: 0px;
    width: 1196px;
    margin-left: -14px;
  }

  #FormColor {
    background-color: rgb(38, 38, 38);
    color: white;
  }

  #fondoNoticia {
    background-color: rgba(214, 1, 1, 0.645);
    opacity: 80%;
  }

  #fondoNoticia2 {
    background-color: rgba(0, 17, 255, 0.515);
    opacity: 80%;
  }

  #fondoNoticia3 {
    background-color: rgba(255, 255, 255, 0.837);
    opacity: 147%;
  }

  #fondoNoticia1 {
    background-color: rgb(53, 53, 53);
    opacity: 80%;
  }

  #centrarCarousel {
    margin-right: auto;
  }
  .PColor {
    color: white;
    font-family: "Inconsolata", monospace;
  }
  .PColor1 {
    color: black;
    font-family: "Inconsolata", monospace;
  }

  .carousel.indicators {
    margin-right: 16%;
    margin-left: 22%;
  }

  #acomodarIndicators {
    margin-right: 7%;
  }
  .list-style-none {
    list-style: none;
    height: 50px;
    width: 80px;
    padding-left: 2px;
    padding-right: 7px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 30px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none1 {
    list-style: none;
    height: 50px;
    width: 143px;
    padding-left: 9px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 30px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none2 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 1px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none3 {
    list-style: none;
    height: 40px;
    width: 80px;
    padding-left: 36px;
    padding-right: 12px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -5px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none4 {
    list-style: none;
    height: 40px;
    width: 120px;
    padding-left: 45px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -3px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none5 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 64px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -3px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none6 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 85px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: -3px;
    font-family: "Raleway", sans-serif;
  }

  .list-style-none8 {
    list-style: none;
    height: 40px;
    width: 115px;
    padding-left: 86px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 25px;
    font-family: "Raleway", sans-serif;
  }
  #carouselFondo {
    background-color: black;
    opacity: 70%;
    width: 680px;
    height: 100px;
    margin-left: 121px;
  }
  #centrarImagen {
    margin-left: 150px;
    width: 74%;
    height: 43%;
  }
  #columnaInformativa {
    margin-top: 10px;
    width: 1177px;
    padding: 14px;
  }
  #footerFondo {
    width: 1182px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0);
    opacity: 100%;
    padding: 30px;
  }
  #cuadroNoticias3 {
    display: block;
    height: 370px;
    width: 291px;
    padding: 5px;
  }
  .colorH1 {
    color: white;
    font-size: 30px;
    color: rgb(0, 0, 0);

    text-align: center;
    font-family: fantasy;
  }
  .colorH1-1 {
    color: rgb(99, 99, 99);
    font-size: 30px;
    color: rgb(0, 0, 0);

    text-align: center;
    font-family: fantasy;
  }
  #flexLogo {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
    width: 1196px;
    margin-left: -14px;
  }

  #logo {
    margin-left: 18px;
  }
  #paddingCol {
    padding: 0px;
  }
  #cuadroNoticias {
    height: 370px;
    width: 291px;
    padding: 0px;
    margin-left: 0px;
  }
  #cuadroNoticias1 {
    height: 370px;
    width: 291px;
    padding: 5px;
  }
  #cuadroNoticias2 {
    display: block;
    height: 370px;
    width: 291px;
    padding: 5px;
  }

  #tamañoH2 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }

  #titleH3 {
    font-family: "Open Sans Condensed", sans-serif;
  }

  #cajaFooterRedes {
    margin-top: 30px;
  }
  #iconStyle {
    list-style: none;
    width: 42px;
    height: 48px;
  }

  #iconStyle1 {
    list-style: none;
    width: 42px;
    height: 48px;
    margin-left: 40px;
  }
  #iconStyle2 {
    list-style: none;
    width: 42px;
    height: 48px;
    margin-left: 40px;
  }

  #iconStyle3 {
    list-style: none;
    width: 42px;
    height: 48px;
    margin-left: 40px;
  }
  #cajaFooterBoton {
    margin-top: 30px;
  }
  .hover {
    a:link,
    a:visited {
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover,
    a:active {
      background-color: blue;
      color: white;
    }
  }
  #botonFooter {
    list-style: none;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }

  #botonFooter1 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }

  #botonFooter2 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }

  #botonFooter3 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }

  #botonFooter4 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }

  #botonFooter5 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }

  #botonFooter6 {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(58, 58, 58);
  }
  #arregloMarginParrafo {
    margin: 0px;
    color: white;
    text-align: center;
  }
  #cajaCentrarParrafo {
    text-align: center;
    color: white;
  }

  #cajaLegales {
    margin-top: 30px;
  }

  #cajaLegales2 {
    margin-top: 30px;
  }

  hr {
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 2px solid #333;
    height: 0;
  }
  #noticeColor {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #efectLink1 {
    font-family: "Teko", sans-serif;
  }
  #centrar {
    color: white;
  }
  #sinBordes {
    padding: 0px;
  }
  #text-aline-center {
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 78px;
    margin-top: 36px;
  }
  .titulo--color {
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 40px;
  }

  .titulo--color1 {
    color: black;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 40px;
  }
  .PColor {
    padding: 10px;
    font-size: 18px;
  }

  //RESPONSIVE----------------------------------------------------------------------------------------------------------------------

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #centerLink {
    width: 120px;
    height: 21;
    margin-left: 50px;
    margin-top: 15px;
    font-family: "Teko", sans-serif;
    font-size: 15px;

    a:link,
    a:visited {
      background-color: white;
      color: black;
      border: 2px solid green;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover,
    a:active {
      background-color: green;
      color: white;
    }
  }

  .hover {
    a:link,
    a:visited {
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover,
    a:active {
      background-color: blue;
      color: white;
    }
  }
  ///////////////////////////responsive 1024px//////////////////////////////////////////////////////////////////////////////////////
  @media only screen and (max-width: 1024px) {
    #footerFondo {
      width: 1007px;
    }

    #tableNotice {
      width: 988px;
    }

    #cuadroNoticias {
      transform: scale(0.9);
      margin-left: 67px;
    }
    #cuadroNoticias1 {
      transform: scale(0.9);
    }
    #cuadroNoticias2 {
      transform: scale(0.9);
    }
    #cuadroNoticias3 {
      display: none;
    }

    #columnaInformativa {
      width: 1007px;
    }
    #flexLogo {
      width: 1024px;
      padding: 0;
    }
    .list-style-none {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none1 {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none2 {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none3 {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none4 {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none5 {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none6 {
      font-size: 20px;
      padding: 0;
    }
    .list-style-none8 {
      font-size: 20px;
      padding: 0;
    }
    .PColor {
      padding: 10px;
      font-size: 18px;
    }
    ///////////////////////////////responsive 992px///////////////////////////////////////////////////////////////////////////
    @media only screen and (max-width: 992px) {
      #tableNotice {
        width: 951px;
      }
      #cuadroNoticias {
        transform: scale(0.9);
        margin-left: 40px;
      }

      #footerFondo {
        width: 975px;
      }
    }
    ////////////////////////////////responsive 768px ///////////////////////////////////////////////////////////////////////
    @media only screen and (max-width: 768px) {
      #footerFondo {
        width: 751px;
      }

      #botonFooter {
        font-size: 15px;
      }
      #botonFooter1 {
        font-size: 15px;
      }

      #botonFooter2 {
        font-size: 15px;
      }
      #botonFooter3 {
        font-size: 15px;
      }
      #botonFooter4 {
        font-size: 15px;
      }
      #botonFooter5 {
        font-size: 15px;
      }
      #botonFooter6 {
        font-size: 15px;
      }
      #cuadroNoticias2 {
        display: none;
      }

      #cuadroNoticias3 {
        display: none;
      }

      #cuadroNoticias {
        margin-left: 33px;
      }

      #tableNotice {
        width: 646px;
        margin-left: 49px;
      }

      .PColor {
        font-size: 15px;
        padding-left: 13px;
      }

      .colorH1 {
        padding-left: 13px;
      }
      #iframeCentro {
        width: 281px;
        height: 200px;
        margin-left: 29px;
      }
      #columnaInformativa {
        width: 768px;
      }

      #fondoNoticia {
        padding-left: 0px;
      }

      #flexLogo {
        width: 768px;
      }

      .list-style-none {
        font-size: 16px;
        margin-left: 26px;
        padding: 0px;
      }
      .list-style-none1 {
        font-size: 16px;
        margin-left: -14px;
        padding: 0px;
      }
      .list-style-none2 {
        font-size: 16px;
        margin-left: -44px;
        padding: 0px;
      }
      .list-style-none3 {
        font-size: 16px;
        margin-left: -39px;
        padding: 0px;
      }
      .list-style-none4 {
        font-size: 16px;
        margin-left: -26px;
        padding: 0px;
      }
      .list-style-none5 {
        display: none;
      }
      .list-style-none6 {
        font-size: 16px;
        padding: 0px;
        margin-left: -45px;
      }
      .list-style-none8 {
        font-size: 16px;
        padding: 0px;
        margin-left: -23px;
      }
      .container-fluid__body {
        transform: scale(1);
      }
      #carouselFondo {
        width: 500px;
        margin-left: 27px;
      }
      .carousel-control-next-icon {
        margin: 12px;
      }
      #centrarImagen {
        margin-left: 100px;
      }
    }
  }
}
