/*flex*/
.flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 20px;
}
.flex2 {
  border: solid 2px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.flex3 {
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: max-content;
  width: auto;
}
.flex4 {
  background-color: slategrey;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.footerFlex {
  border: solid 1px slategrey;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 2807px;
}
.footerFlex1 {
  border: solid 1px slategrey;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 2527px;
}

.footerFlexContacto {
  border: solid 1px slategrey;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-image: linear-gradient(slategrey, white);
  margin-right: 500px;
  width: 1770px;
  animation-duration: 2s;
  animation-name: aparecer;
}

footer {
  width: 1200px;
  height: max-content;
}
.botonA {
  border: outset 2px black;
  width: max-content;
  height: max-content;
  font-size: 25px;
  padding: 20px;
  background-color: white;
  margin-top: 11px;
  margin-left: 12px;
}

.flexCajaHistoria {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.cajaHistoria {
  border: solid 1px black;
  width: max-content;
  height: max-content;
  margin-left: 40%;
  margin-top: 50px;
}

.titulosHistoria {
  font-size: 35px;
}
.tituloCajaHistoria {
  font-size: 50px;
}

.flexForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-right: 0;
  height: auto;
  width: auto;
}

.flexContacto {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 20px;
  padding: 12px;
  background-image: linear-gradient(slategrey, white);
  border: outset 5px black;
  animation-duration: 2s;
  animation-name: aparecer;
}
/***************************************************/
/*GRIDS*/
#grid1 {
  display: grid;
  grid-template-areas:
    "header header    header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "footer footer    footer";

  grid-template-rows: 100px auto auto 10px;
  grid-template-columns: 100px auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
div {
  height: 100vh;
}
header {
  grid-area: header;
  background-color: slategrey;
}
footer {
  grid-area: footer;

  height: auto;
  width: 2810px;
}
#productos {
  grid-area: productos;
  background-color: slategrey;
}
#servicios {
  grid-area: servicios;
  background-color: slategrey;
}
nav {
  grid-area: nav;
  background-color: black;
}
aside {
  grid-area: publicidad;
  background-color: black;
}
/*****************************************************************/
.grid2 {
  display: grid;
  grid-template-areas:
    "header header    header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav servicios publicidad"
    "nav servicios publicidad"
    "footer footer    footer";

  grid-template-rows: 100px 500px auto 100px 100px 50px;
  grid-template-columns: 100px auto 100px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
div {
  height: 100vh;
}
header {
  grid-area: header;
  background-color: slategrey;
}
footer {
  grid-area: footer;
  background-color: slategrey;
  height: 100px;
  width: 2525px;
}
#productos {
  grid-area: productos;
  background-color: slategrey;
}
#servicios {
  grid-area: servicios;
  background-color: slategrey;
}
nav {
  grid-area: nav;
  background-color: black;
}
aside {
  grid-area: publicidad;
  background-color: black;
}

.flexNoticias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****************************************************/
.div3 {
  height: 20px;
  width: 300px;
}

.h2Normal {
  text-align: start;
}

.titutlo {
  padding-top: 0px;
  margin: 0;
  height: 50px;
  width: 90px;
  text-align: center;
}

li {
  display: inline-block;
  border: outset 2px black;
  width: max-content;
  height: max-content;

  font-size: 25px;

  padding: 20px;
  background-color: white;
  z-index: 2;
}

ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
  width: 190px;
  padding-inline-start: 0;
}
ul li:hover ul {
  display: block;
  width: 500px;
}
a {
  color: black;
  text-transform: uppercase;
}
a:hover {
  color: green;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-family: "Bodoni Moda", serif;
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 2px;
}

span {
  color: royalblue;
}

.border {
  border: solid 1px black;
}

body {
  width: auto;
  height: auto;
}
/*animacion*/

.prueba {
  font-size: 30px;
  animation-duration: 2s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/**animacion**/

.tamaño {
  height: 40px;
  border: outset 3px red;
  transition: all 2s;
  width: 150px;
}

.tamaño:focus {
  width: 300px;
  font-size: 35px;
  color: slategrey;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nombre {
  height: 70px;
}

.apellido {
  height: 70px;
}

.email {
  height: 70px;
  padding-left: 13px;
}

.estadoCivil {
  font-size: 30px;
}

.tamaño1 {
  height: 40px;
  border: outset 3px red;
}

.tamaño1:focus {
  height: 60px;
  font-size: 40px;
}

.div3 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.checkBox {
  height: 30px;
  width: 30px;
}

.boton1 {
  font-size: 30px;
  background-color: green;
  border: outset 3px darkgoldenrod;
  text-align: center;
  width: 150px;
  height: 50px;
  transition: 2s;
}

.boton2 {
  font-size: 30px;
  background-color: lightgray;
  text-align: center;
  margin-left: 30px;
  border: outset 5px blue;
  width: auto;
  height: 50px;
  transition: 2s;
}

.formulario {
  width: 450px;
  height: 600px;
}

.boton1:hover {
  background-image: linear-gradient(to left, green, black);
  color: white;

  border: outset 5px slategrey;
  text-align: center;
}

.boton2:hover {
  background-image: linear-gradient(to left, green, black);
  color: white;
  border: outset 5px slategrey;
}
/***LINEAS DE TIEMPO (ANIMACIONES)***/

.animacion {
  animation-duration: 5s;
  animation-name: cargaPagina;
}

@keyframes cargaPagina {
  0% {
    opacity: 0;
    animation: animate__backInLeft;
  }
  100% {
    animation: animate__backInLeft;
    opacity: 1;
  }
}
